@import '../../../styles/settings.scss';

.root {
  white-space: pre-line;
  background: $backround-div-color;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .left {
    width: 650px;
    padding-left: 20px;

    .title {
      font-weight: bold;
      font-size: 70px;
      line-height: 85px;
      text-transform: lowercase;
    }

    .subtitle {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .root {
    height: 400px;

    img {
      height: 400px;
    }

    .left {
      width: 400px;
      .title {
        font-size: 45px;
        line-height: 55px;
      }
      .subtitle {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .root {
    max-height: 500px;
    height: 100%;
    img {
      height: 350px;
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    flex-direction: column;
    max-height: 800px;
    height: 100%;
    .right {
      position: absolute;
    }
    img {
      height: 330px;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 576px) {
  .root {
    text-align: center;
    max-height: 800px;
    height: 100%;
    .left {
      width: 100%;
    }

    img {
      height: 230px;
    }
  }
}
