$backround-div-color: linear-gradient(90deg, #fadbd9 1.5%, #b9e3f6 100%);
$main-color: #235493;
$white-color: #ffffff;
$button-background-hover: linear-gradient(90deg, #FADBD9 1.5%, #B9E3F6 26.13%);

