@import '../../../styles/settings.scss';

.root {
  margin: 0 60px;
  display: flex;
  justify-content: space-around;
  p {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 768px) {
  .root {
    justify-content: space-around;
    .left {
      order: 3;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 576px) {
  .root {
    flex-direction: column;
    align-items: center;

    p {
      width: 281px;
      text-align: center;
    }
    .left {
      padding-top: 20px;
    }
  }
}
