@import '../../../styles/settings.scss';

.root {
  white-space: pre-line;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  text-align: center;

  .left {
    width: 49%;
    .leftSide {
      margin-left: 60px;
    }

    .title {
      font-weight: bold;
      font-size: 70px;
      line-height: 85px;
      text-transform: lowercase;
    }

    .subtitle {
      font-size: 18px;
      line-height: 22px;
    }

    .button {
      position: absolute;
      width: 200px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-content: center;
      text-decoration: none;
      background: linear-gradient(90deg, #fadbd9 1.5%, #b9e3f6 100%);
      border-radius: 41px;
      p {
        margin-top: 8px;
      }
    }
  }

  .right {
    width: 51%;
    .background {
      background: $backround-div-color;
      border-radius: 0px 275.5px 275.5px 0px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      z-index: 1;
      height: 320px;
      position: relative;
    }
    img {
      z-index: 2;
      bottom: 140px;
      left: 60px;
      position: relative;
    }
  }
}

@media screen and (max-width: 1290px) {
  .root {
    .right {
      img {
        left: 0;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .root {
    height: 400px;
    text-align: left;
    margin-top: 0;
    .right {
      img {
        height: 350px;
        bottom: 0;
        left: 0;
      }
    }

    .left {

      .title {
        font-size: 45px;
        line-height: 55px;
      }
      .subtitle {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .root {

    flex-direction: column;
    .left {
      max-width: 400px;

      .leftSide {
        margin-left: 0;
      }
    }
    .right{
      display: none;
    }
    // .right {
    //   width: 100%;
    //   margin-top: 50px;
    //   img {
    //     height: 230px;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     -ms-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    //   }
    // }
  }
}

@media screen and (max-width: 576px) {
  .root {
    .left {
      width: 300px;
    }
  }
}
